#titre_center {
    margin-right: 29%;
}
#nav {
    display: flex;
    justify-content: right;
}
.margin_nav {
    margin: 10px;
    text-decoration: none;
    color: black;
}
#block_button {
    display: flex;
    justify-content: center;
}
button a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.button {
    margin: 20px;
}

.blue-text {
	color: #0091EA;
}