h1 {
    text-align: center;
}
form {
    width: 50%;
    margin: auto;
}
input {
    float: right;
}
label {
    margin-top: 20px;
}
#nav {
    display: flex;
    justify-content: right;
}
#titre_center {
    margin-right: 29%;
}
.margin_nav {
    margin: 10px;
    text-decoration: none;
    color: black;
}