h1 {
    text-align: center;
}
nav {
    display: flex;
    justify-content: right;
}
.margin_nav {
    margin: 10px;
}
form {
    display: block;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.form-group {
    margin-top: 20px;
}
.input_send {
   float: right;
}
.titre_center {
    text-align: center;
}
