{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'home.css' %}"/>
{% endblock head %}

{% block content %}
    <div id="nav">
        <p id="titre_center">LITReview</p>
        <nav>
            <a href="" class="margin_nav">Flux</a>
            <a href="" class="margin_nav">Posts</a>
            <a href="" class="margin_nav">Abonnements</a>
            <a href="{%  url 'logout' %}" class="margin_nav">Se déconnecter</a>
        </nav>
    </div>
    <div id="block_button">
        <button><a href="{% url 'ticket' %}" class="button">Demander une critique</a></button>
        <button><a href="" class="button">Créer une critique</a></button>
    </div>
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
                <div class="card">
                    <div class="row d-flex">
                        <div class="d-flex flex-column">
                            <h3 class="mt-2 mb-0">Saraj a demandé une critique</h3>
                        </div>
                    </div>
                    <div class="row text-left">
                        <h4 class="blue-text mt-3">Une brève histoire du temps- Stehpen Hawking</h4>
                    </div>
                    <button>Créer une critique</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
