<!-- {% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'review.css' %}" />
{% endblock head %}

{% block content %}
    <div id="nav">
        <p id="titre_center">LITReview</p>
        <nav>
            <a href="" class="margin_nav">Flux</a>
            <a href="" class="margin_nav">Posts</a>
            <a href="" class="margin_nav">Abonnements</a>
            <a href="{% url 'logout' %}" class="margin_nav">Se déconnecter</a>
        </nav>
    </div>
    <h1>Créer une critique</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <p>Livre/Article</p>
            <div class="form-group">
                <label for="exampleFormControlInput1">Titre</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
            </div>
            <label class="form-label" for="customFile">Image</label>
            <input type="file" class="form-control" id="customFile" />
        </div>
        
        <div>
            <p>Critique</p>
            <div class="form-group">
                <label for="exampleFormControlInput1">Titre</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"/>
            </div>
        
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Commentaire</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
            </div>
        </div>
        <input type="submit">
    </form>
{% endblock %} -->