{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'ticket.css' %}"/>
{% endblock head %}

{% block content %}
<body>
    <div id="nav">
        <p id="titre_center">LITReview</p>
        <nav>
            <a href="" class="margin_nav">Flux</a>
            <a href="" class="margin_nav">Posts</a>
            <a href="" class="margin_nav">Abonnements</a>
            <a href="{% url 'logout' %}" class="margin_nav">Se déconnecter</a>
        </nav>
    </div>
    <h1>Créer un ticket</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="input_send">
    </form>
</body>
{% endblock %}