{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'login.css' %}"/>
{% endblock head %}

{% block content %}
	<h1 id="titre">LITReview</h1>
	<section>
		<div>
			<h2>Inscrivez vous maintenant</h2>
			<button class="button_register"><a href="{% url 'register' %}">S'inscrire</a></button>
		</div>

		<form action="" method="POST">
			{% csrf_token %}
			<h2 id="titre_connexion">Connectez-vous</h2>
			{{ form }}
			<input type="submit" class="input_login field_login" value="Se connecter">
		</form>
	</section>
{% endblock %}

