#titre {
    text-align: center;
}
#titre_connexion {
    margin-left: 25px;
}
section {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}
::placeholder {
    text-align: center;
    font-weight: bold;
}
input {
    width: 300px;
    height: 30px;
}
button, .input_login {
    height: 30px;
    width: 100px;
    border: 1px solid black;
}
.input_login {
    margin-left: 65%;
}
button a {
    text-decoration: none;
    color: black;
}
form {
    display: block;
    width: 20%;
}
.field_login {
    margin-top: 10px;
}
.button_register {
    margin-left: 35%;
}
form label {
    display: none;
}
p {
    color: red;
}