{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'register.css' %}"/>
{% endblock head %}

{% block content %}
	<h1 id="titre">LITReview</h1>
	<section>
		<form action="" method="POST">
			{% csrf_token %}
			<h2>Inscrivez-vous</h2>
			<div>
				{{ form }}
			</div>
			<p>{{ message }}</p>
			<div id="block_button_register">
				<button><a href="{% url 'login' %}">Retourner</a></button>
				<input type="submit" value="S'inscrire" class="input_register">
			</div>
		</form>
	</section>
{% endblock %}
