{% extends 'base.html' %}

{% block content %}
<p>Formulaire d'inscription</p>

<h1 id="titre">LITReview</h1>
<section>
	<form action="" method="POST">{% csrf_token %}
		<h2>Inscrivez-vous</h2>
		<div>
			<input type="text" placeholder="Nom d'utilisateur" name="username">
		</div>
		<div>
			<input type="password" placeholder="Mot de passe" name="pwd">
		</div>
		<div>
			<input type="password" placeholder="Confirmez le mot de passe" name="checked_pwd">
		</div>
		<button><a href="{% url 'login' %}">Retourner</a></button>
		<input type="submit" value="S'inscrire">
	</form>
</section>
{% endblock%}
