{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'register.css' %}"/>
{% endblock head %}

{% block content %}
	<h1 id="titre">LITReview</h1>
	<section>
		<form action="" method="POST">
			{% csrf_token %}
			<h2>Inscrivez-vous</h2>
			<div>
				{{ form }}
			</div>
			<div id="block_button_register">
				<a href="{% url 'account:login' %}"><button class="btn btn-primary">Retourner</button></a>
				<button type="submit" class="btn btn-primary">S'inscrire</button>
			</div>
		</form>
	</section>
{% endblock %}
