#block_button {
    display: flex;
    justify-content: center;
}
button a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.btn {
    margin: 20px;
    float: right;
}
.btn_critique {
    width: 20%;
    margin-left: auto;
}
.blue-text {
    text-align: left;
}
.collapse {
    justify-content: right;
    margin-right: 20px;
}
h3 {
    text-align: left;
}
.block_card {
    width: 70%;
    margin: auto;
}
.card {
    margin-top: 20px;
}
span {
    margin-left: auto;
}