.collapse {
    justify-content: right;
    margin-right: 20px;
}
H4 {
    text-align: left;
}
button a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
button {
    float: right;
}
.btn {
    margin: 10px;
}
.block_card {
    width: 70%;
    margin: auto;
}
h1 {
    text-align: center;
}
.card {
    margin-top: 20px;
    background-color: #92a8d1 !important;
    border: none !important;
}