h1 {
    text-align: center;
}
form {
    display: block;
    width: 50%;
    margin: auto;
}
label {
    margin-top: 20px;
}
.collapse {
    justify-content: right;
    margin-right: 20px;
}
#id_headline, #id_body, #id_title, #id_description {
    width: 1000px;
}
#id_body {
    height: 300px;
}
.btn-secondary {
    float: right;
    margin-top: 50px;
    width: 15%;
}
.block_review {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}
#id_headline, #id_body {
    width: 100%;
}

span {
    margin-left: auto;
}