{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'flux.css' %}"/>
{% endblock head %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LitReview</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'flux:flux' %}">Flux</a>
                <a class="nav-item nav-link" href="{% url 'flux:posts' %}">Posts</a>
                <a class="nav-item nav-link" href="{% url 'flux:subscription' %}">Abonnements</a>
                <a class="nav-item nav-link" href="{% url 'account:logout' %}">Se deconnecter</a>
            </div>
        </div>
    </nav>
    <div id="block_button">
        <a href="{% url 'flux:ticket' %}"><button type="button" class="btn btn-outline-secondary">Demander une critique</button></a>
        <a href="{% url 'flux:review' %}"><button type="button" class="btn btn-outline-secondary">Créer une critique</button></a>
    </div>
    <!----Ticket--->
    {% for t in ticket %}
        <div class="container">
            <div class="card block_card">
                <span>{{t.time_created}}</span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            {% if t.user == request.user %}
                                <p><strong>Vous avez demandé une critique</strong></p>
                            {% else %}
                                <p><strong>{{t.user}} a demandé une critique</strong></p>
                            {% endif %}
                            <h5>{{t.title}}</h5>
                            <p>{{t.description}}</p>
                            {% if t.image %}
                                <img src="{{t.image.url}}">
                            {% endif %}
                        </div>
                    </div>
                    {% if request.user != t.user %}
                    <a href="{% url 'flux:review_response' t.id  %}"><button type="button" class="btn btn-success btn_critique">Créer une critique</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <!--Critique----->
        {% for r in t.reviews.all %}
        <div class="container">
            <div class="card block_card">
                <span>{{r.time_created}}</span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <p>
                                {% if r.user == request.user %}
                                    <strong>Vous avez publié une critique</strong>
                                {% else %}
                                    <strong>{{r.user}} à publié une critique</strong>
                                {% endif %}
                        </p>
                            <h4>{{r.headline}} - 
                                <i class="far fa-star {% if r.rating > 0 %} fas {% endif %}"></i>
                                <i class="far fa-star {% if r.rating > 1 %} fas {% endif %}"></i>
                                <i class="far fa-star {% if r.rating > 2 %} fas {% endif %}"></i>
                                <i class="far fa-star {% if r.rating > 3 %} fas {% endif %}"></i>
                                <i class="far fa-star {% if r.rating > 4 %} fas {% endif %}"></i>
                            </h4>
                            <p>{{r.body}}</p>
                        </div>
                    </div>
                        <div class="card card-inner">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        {% if r.ticket.user == request.user %}
                                            <p><strong>Ticket - Vous</strong></p>
                                        {% else %}
                                        <p><strong>Ticket - {{r.ticket.user}}</strong></p>
                                        {% endif %}
                                        <p>{{r.ticket.title}}</p>
                                        <p>{{r.ticket.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
