{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'posts.css' %}">
{% endblock head %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LitReview</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'flux:flux' %}">Flux</a>
        <a class="nav-item nav-link" href="{% url 'flux:posts' %}">Posts</a>
        <a class="nav-item nav-link" href="{% url 'flux:subscription' %}">Abonnements</a>
        <a class="nav-item nav-link" href="{% url 'account:logout' %}">Se deconnecter</a>
        </div>
    </div>
</nav>
<h1>Vos posts</h1>
{% for r in review %}
{% if r.user == request.user %}

    <div class="container">
        <div class="card block_card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <p><strong>Vous avez publié une critique</strong></p>
                        <h4>{{r.headline}} - Note: {{r.rating}} / 5</h4>
                        <p>{{r.body}}</p>
                    </div>
                </div>
                    <div class="card card-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    {% if r.ticket.user == request.user %}
                                        <p><strong>Ticket - Vous</strong></p>
                                    {% else %}
                                    <p><strong>Ticket - {{r.ticket.user}}</strong></p>
                                    {% endif %}
                                    <p>{{r.ticket.title}}</p>
                                    <p>{{r.ticket.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div>
                    <button type="button" class="btn btn-outline-secondary btn_critique"><a href="{% url 'flux:delete-review' r.id %}">Supprimer</a></button>
                    <button type="button" class="btn btn-outline-secondary btn_critique"><a href="">Modifier</a></button>
                </div>
            </div>
        </div>
    </div>
{% else %}
{% endif %}
{% endfor %}

{% for t in ticket %}
{% if t.user == request.user %}
    <div class="container">
        <div class="card block_card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <p><strong>Vous avez Publié un ticket</strong></p>
                        <h5>{{t.title}}</h5>
                        <p>{{t.description}}</p>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-secondary btn_critique"><a href="{% url 'flux:delete-ticket' t.id %}">Supprimer</a></button>
                    <button type="button" class="btn btn-outline-secondary btn_critique"><a href="{% url 'flux:update-ticket' t.id %}">Modifier</a></button>
                </div>
            </div>
        </div>
    </div>
{% else %}
{% endif %}
{% endfor %}

{% endblock %}