{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'review_response.css' %}" />
{% endblock head %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LitReview</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'flux:flux' %}">Flux</a>
            <a class="nav-item nav-link" href="{% url 'flux:posts' %}">Posts</a>
            <a class="nav-item nav-link" href="{% url 'flux:subscription' %}">Abonnements</a>
            <a class="nav-item nav-link" href="{% url 'account:logout' %}">Se deconnecter</a>
            </div>
        </div>
    </nav>
    <h1>Créer une critique</h1>
    <form method="post", enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="container">
            <p><strong>Vous êtes en train de poster en réponse à</strong></p>
            <div class="card block_card">
                <span>{{ticket.time_created}}</span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <p><strong>{{ticket.user}} a demandé une critique</strong></p>
                            <p>{{ticket.title}}</p>
                            <p>{{ticket.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="test">
            <p>Critique</p>
            {{ formReview.as_p }}
            <button type="submit" class="btn btn-secondary">Envoyer</button>
        </div>
    </form>
{% endblock %}