{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'subscription.css' %}">
{%endblock head %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LitReview</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'flux:flux' %}">Flux</a>
            <a class="nav-item nav-link" href="{% url 'flux:posts' %}">Posts</a>
            <a class="nav-item nav-link" href="{% url 'flux:subscription' %}">Abonnements</a>
            <a class="nav-item nav-link" href="{% url 'account:logout' %}">Se deconnecter</a>
            </div>
        </div>
    </nav>
    <div class="row d-flex justify-content-center align-items-center rows">
        <div class="col-md-6">
            <div class="card" id="card">
                <div class="text-center">
                    <span class="d-block mt-3">Suivre d'autres utilisateurs</span>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mx-5">
                        <div class="input-group mb-3 mt-4">
                            {{ form }}
                            <input class="btn btn-success border-rad" type="submit" id="button-addon2">
                            </div>
                        </div>
                    </form>  
                </div>  
            </div> 
        </div>
    </div>
    <h4>Utilisateurs Suivis</h4>
    {% for u in userFollow %}
    {% if request.user != u.user %}
    <div class="container">
        <div class="profile-container">
            <div class="profile-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="tab-content p-0">
                                <div class="tab-pane fade active show" id="profile-followers">
                                    <div class="list-group">
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-fill pl-3 pr-3">
                                                <div>{{u.user}}</div>
                                            </div>
                                            <form method="post" action="{% url 'flux:delete_subscription' %}">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{u.id}}" name="user_id">
                                                <button type="submit" class="btn btn-danger">Désabonner</button>
                                            </form>
                                        </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <h4>Utilisateurs qui me suivent</h4>
    {% for u in userFollow %}
    {% if request.user != u.followed_user %}
    <div class="container">
        <div class="profile-container">
            <div class="profile-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="tab-content p-0">
                                <div class="tab-pane fade active show" id="profile-followers">
                                    <div class="list-group">
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-fill pl-3 pr-3">
                                                <div>{{u.followed_user}}</div>
                                            </div>
                                            <form method="post" action="{% url 'flux:delete_subscription' %}">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{u.id}}" name="user_id">
                                                <button type="submit" class="btn btn-danger">Désabonner</button>
                                            </form>
                                        </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <!-- <div class="followed">
        <h4>Utilisateurs suivis</h4>
        {% for u in userFollows %}
        <div class="block_followed">
            {% if request.user == u.followed_user %}
                <p>{{u.user}}</p>
                <form method="post" action="{% url 'flux:delete_subscription' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{u.id}}" name="user_id">
                    <button type="submit">Désabonner</button>
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="followed_by">
        <h4>Utilisateurs qui me suivent</h4>
        {% for u in userFollows %}
        <div class="block_followed_by">
            {% if request.user == u.user %}
                <p>{{u.followed_user}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div> 
    -->
{% endblock %}
