{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'subscription.css' %}">
{%endblock head %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LitReview</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'flux:flux' %}">Flux</a>
            <a class="nav-item nav-link" href="#">Posts</a>
            <a class="nav-item nav-link" href="{% url 'flux:subscription' %}">Abonnements</a>
            <a class="nav-item nav-link" href="{% url 'account:logout' %}">Se deconnecter</a>
            </div>
        </div>
    </nav>
    <div class="row d-flex justify-content-center align-items-center rows">
        <div class="col-md-6">
            <div class="card" id="card">
                <div class="text-center">
                    <span class="d-block mt-3">Suivre d'autres utilisateurs</span>
                    <div class="mx-5">
                       <div class="input-group mb-3 mt-4">
                          <input type="text" class="form-control" placeholder="Nom d'utilisateur" aria-label="Recipient's username" aria-describedby="button-addon2">
                          <button class="btn btn-success border-rad" type="submit" id="button-addon2">Envoyer</button>
                        </div>
                    </div>  
                </div>  
            </div> 
        </div>
    </div>
{% endblock %}
